@font-face {
    font-family: "inter";
    src: url(./social-links-profile-main/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "inter";
    font-size: 14px;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.margin-center{
    margin: auto;
    max-width: 1200px;
}
h1{
    font-size: larger;
}
.profile {
    background-color: var(--grey-800);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.profile img {
    width: 30%;
    border-radius: 50%;
    margin: 20px;
}
.location {
    color: var(--green);
    font-weight: bold;
    font-size: smaller;
    margin: 10px;
}
.bio {
    font-size: small;
    color: var(--white);
    margin: 20px;
}
.links a {
    display: flex;
    justify-content: center;
    background-color: var(--grey-700);
    color: white;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
    margin: 15px;
    border-radius: 8px;
}
:root{
--green: hsl(75, 94%, 57%);
--white: hsl(0, 0%, 100%);
--grey-700: hsl(0, 0%, 20%);
--grey-800: hsl(0, 0%, 12%);
--grey-900: hsl(0, 0%, 8%);
}