@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
@theme {
  --color-background-color: var(--color-background-color);
  /* primary colors */
  --color-purple-900: var(--color-purple-900);
  --color-light-blue-800: var(--color-light-blue-800);
  --color-white-300: var(--color-white-300);
  --color-dark-blue-shade: var(--color-dark-blue-shade);
  --color-blue-grey-200: var(--color-blue-grey-200);
  /* secondary colors */
  --color-orange-900: var(--color-orange-900);
  --color-orange-800: var(--color-orange-800);
  --color-white-700: var(--color-white-700);
  /* Greys/Blue Grey  */
  --color-grey-100: var(--color-grey-100);
  --color-grey-200: var(--color-grey-200);
  --color-grey-300: var(--color-grey-300);
  --color-grey-400: var(--color-grey-400);
  --color-grey-500: var(--color-grey-500);
  --color-grey-600: var(--color-grey-600);
  --color-grey-700: var(--color-grey-700);
  --color-grey-800: var(--color-grey-800);
  --color-grey-900: var(--color-grey-900);
  /* supporting colors */
  --color-green: var(--color-green);
  --color-green-shade: var(--color-green-shade);
  --color-yellow: var(--color-yellow);
  --color-yellow-shade: var(--color-yellow-shade);
  --color-violet: var(--color-violet);
  --color-violet-shade: var(--color-violet-shade);
  --color-pink: var(--color-pink);
  --color-pink-shade: var(--color-pink-shade);
  /* state colors */
  --color-info: var(--color-info);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  /* sales bg colors */
  --color-salesPink: var(--color-salesPink);
  --color-salesYellow: var(--color-salesYellow);
  --color-salesGreen: var(--color-salesGreen);
  --color-salesPurple: var(--color-salesPurple);
  /* line chart tool tip */
  --color-tooltip: var(--color-tooltip);
  /* bar chart stashed */
  --color-barChartStashed-green: var(--color-barChartStashed-green);
  --color-barChartStashed-blue: var(--color-barChartStashed-blue);
  /* bar chart stashed */
  --color-barChart-green: var(--color-barChart-green);
  --color-barChart-yellow: var(--color-barChart-yellow);
  /* products ranking colors */
  --color-ranking-blue: var(--color-ranking-blue);
  --color-ranking-green: var(--color-ranking-green);
  --color-ranking-purple: var(--color-ranking-purple);
  --color-ranking-orange: var(--color-ranking-orange);
  /* products ranking shade colors */
  --color-ranking-blue-shade: var(--color-ranking-blue-shade);
  --color-ranking-green-shade: var(--color-ranking-green-shade);
  --color-ranking-purple-shade: var(--color-ranking-purple-shade);
  --color-ranking-orange-shade: var(--color-ranking-orange-shade);
  /* shadows */
  --shadow-xs: var(--shadow-xs);
  --shadow-list: 0 20px 50px 0;
  /* shadow colors  */
  --color-shadow-1: var(--color-shadow-1);
  --color-shadow-list: var(--color-shadow-list);
}
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* /////////////////////////////////// */
  --color-background-color: #fafbfc;
  /* primary colors */
  --color-purple-900: #5d5fef;
  --color-light-blue-800: #4079ed;
  --color-white-300: #f1f8fd;
  --color-dark-blue-shade: #05004e;
  --color-blue-grey-200: #7b91b0;
  /* secondary colors */
  --color-orange-900: #fc7d4c;
  --color-orange-800: #ff966c;
  --color-white-700: #fff3ef;
  /* Greys/Blue Grey  */
  --color-grey-100: #ffffff;
  --color-grey-200: #fcfdff;
  --color-grey-300: #f9fafb;
  --color-grey-400: #e8e8ed;
  --color-grey-500: #d0d2da;
  --color-grey-600: #a1a5b6;
  --color-grey-700: #737791;
  --color-grey-800: #444a6d;
  --color-grey-900: #151d48;
  /* supporting colors */
  --color-green: #3cd856;
  --color-green-shade: #e2fff3;
  --color-yellow: #ffa412;
  --color-yellow-shade: #fef6e6;
  --color-violet: #a700ff;
  --color-violet-shade: #fbf1ff;
  --color-pink: #ff74c4;
  --color-pink-shade: #fff1fe;
  /* state colors */
  --color-info: #2f80ed;
  --color-success: #27ae60;
  --color-warning: #efbe27;
  --color-error: #eb5757;
  /* sales bg colors */
  --color-salesPink: #ffe2e5;
  --color-salesYellow: #fff4de;
  --color-salesGreen: #dcfce7;
  --color-salesPurple: #f3e8ff;
  /* line chart tool tip */
  --color-tooltip: #f64e60;
  /* bar chart stashed */
  --color-barChartStashed-green: #00e096;
  --color-barChartStashed-blue: #0095ff;
  /* bar chart colors */
  --color-barChart-green: #4ab58e;
  --color-barChart-yellow: #ffcf00;
  /* products ranking colors */
  --color-ranking-blue: #0095ff;
  --color-ranking-green: #00e096;
  --color-ranking-purple: #884dff;
  --color-ranking-orange: #ff8f0d;
  /* products ranking shade colors */
  --color-ranking-blue-shade: #cde7ff;
  --color-ranking-green-shade: #8cfac7;
  --color-ranking-purple-shade: #c5a8ff;
  --color-ranking-orange-shade: #ffd5a4;
  /* shadow colors  */
  --color-shadow-1: #ededed;
  --color-shadow-list: #374557;
  /* shadows */
  --shadow-sm: 0 4px 20px 0;
  --shadow-list: 0 20px 50px 0;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
/* Products Progress Custom Colors */

.bg-color-ranking-blue {
  background-color: var(--color-ranking-blue);
}
.bg-color-ranking-green {
  background-color: var(--color-ranking-green);
}
.bg-color-ranking-purple {
  background-color: var(--color-ranking-purple);
}
.bg-color-ranking-orange {
  background-color: var(--color-ranking-orange);
}

/* Sales background + text color */
.bg-color-ranking-blue-shade {
  background-color: var(--color-ranking-blue-shade);
  border: 1px solid var(--color-ranking-blue);
  border-radius: 20px;
  color: var(--color-ranking-blue);
}
.bg-color-ranking-green-shade {
  background-color: var(--color-ranking-green-shade);
  border: 1px solid var(--color-ranking-green);
  border-radius: 20px;
  color: var(--color-ranking-green);
}
.bg-color-ranking-purple-shade {
  background-color: var(--color-ranking-purple-shade);
  border: 1px solid var(--color-ranking-purple);
  border-radius: 20px;
  color: var(--color-ranking-purple);
}
.bg-color-ranking-orange-shade {
  background-color: var(--color-ranking-orange-shade);
  border: 1px solid var(--color-ranking-orange);
  border-radius: 20px;
  color: var(--color-ranking-orange);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
