* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "sans-serif";
    background-color: antiquewhite;
    padding: 50px 200px;
    margin: 0;
}
h1 {
    font-size: 30px;
    margin: 10px 0;
}
h2, li::marker{
    color: rgb(129, 12, 12);
}
h3{
    color: brown;
}
ul{
    list-style-type: disc;
}
li{
    padding-left: 15px;
}
.container{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.container img {
    width: 100%;
    border-radius: 15px;
}
.preparation-time {
  background-color: rgb(243, 235, 236, 0.6);
  border-radius: 10px;
  padding: 20px;
}
